.difTypeName{
	width: 100%;
	height: 4.625%;
	background: #20212a;
	margin-bottom: 0.08rem;
}
.changeTBtn{
	width: 3.38rem;
	height: 0.78rem;
	border: 0.02rem solid #000;
	border-radius: 0.12rem;
	margin: 0.07rem 0 0 3.7rem;
	font: 400  0.36rem/0.78rem  "Microsoft YaHei";
	color: #fff;
	text-align: center;
}
.traderBtnL{
	width: 1.69rem;
	background: #0e111a;
}
.traderBtnR{
	width: 1.65rem;
}
.difTypeNameList{
	margin: 0.13rem 0;
	width: 100%;
}
.difTypeNameList li{
	margin: 0 0.8rem;
	padding: 0 0.06rem;
	
	font: 400  0.34rem/0.84rem  "Microsoft YaHei";
	color: #fff;
}
.difTypeNameList .bot{
	border-bottom: 0.06rem solid #f8cc00;
}
