.entrance{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.entranceBg{
	width: 100%;
	height: 100%;
	background: #5ab1f4;
	position: absolute;
	z-index: 11;
}
.entranceBg h2{
	width: 3.58rem;
	height: 3.8rem;
	position: absolute;
	top: 4.60rem;
	left: 50%;
	margin-left: -1.79rem;
}
.entranceBg a{
	width: 3.58rem;
	height: 3.8rem;
	text-indent: -999rem;
	background: url('../img/icon.png') no-repeat;
	background-size: 3.58rem 3.8rem;
	display: block;
}
.entranceBottom{
	width: 100%;
	position: absolute;
	bottom: 0.42rem;
	left: 0;
}
.entranceBottom h3{
	width: 100%;
	text-align: center;
	font: 700  0.39rem/0.75rem  "Microsoft YaHei"; 
	color: #fff;
}
.entranceBottom p{
	width: 100%;
	text-align: center;
	font: 500  0.31rem/0.63rem  "Microsoft YaHei"; 
	color: #fff;
}
.hide{
	display: none;
}
.entranceSwiper{
	width: 100%;
	height: 100%;
	position: absolute;
}
.adSwiper{
	width: 100%;
	height: 80.3%;
}
.adNavStone{
	width: 100%;
	height: 100%;
}
.adlist1{
	width: 100%;
	height: 15.42rem;
	background: url('../img/huanying1.png') no-repeat;
	background-size: 10.8rem 15.42rem;
}
.adlist2{
	width: 100%;
	height: 15.42rem;
	background: url('../img/huanying2.png') no-repeat;
	background-size: 10.8rem 15.42rem;
}
.adlist3{
	width: 100%;
	height: 15.42rem;
	background: url('../img/huanying3.png') no-repeat;
	background-size: 10.8rem 15.42rem;
}
.quickStart{
	width: 3.62rem;
	height: 1.09rem;
	background: url('../img/kuaisutiyan.png') no-repeat;
	background-size: 3.62rem 1.09rem;
	position: absolute;
	top: 10.7rem;
	left: 50%;
	margin-left: -1.81rem;
	z-index: 10;
}
.adFooter{
	width: 1.33rem;
	height: 0.16rem;
	position: absolute;
	top: 12.2rem;
	left: 50%;
	margin-left: -0.54rem;
	z-index: 10;
}
.adFooter span{
	float: left;
	width: 0.16rem;
	height: 0.16rem;
	background: #363945;
	border-radius: 50%;
	margin-right: 0.25rem;
}
.adFooter .spanCol{
	background: #fff;
}
.adLoginRoute{
	width: 100%;
	height: 19.7rem;
	background: #fff;
}
.adLoginRouteBtn{
	width: 100%;
	height: 1.42rem;
	border-bottom: 0.04rem solid #ddd;
}
.reg{
	display: block;
	width: 5.38rem;
	text-align: center;
	font: 500  0.46rem/1.42rem  "Microsoft YaHei"; 
	color: #383838;
	border-right: 0.04rem solid #ddd;
}
.log{
	display: block;
	width: 5.38rem;
	text-align: center;
	font: 500  0.46rem/1.42rem  "Microsoft YaHei"; 
	color: #383838;
}
.adLoginRoutePic span{
	margin: 0.5rem 4.18rem 0 2.2rem;
	width: 1.11rem;
	height: 1.11rem;
	background: url('../img/QQ.png') no-repeat;
	background-size: 1.11rem 1.11rem;
}
.adLoginRoutePic i{
	margin-top: 0.5rem;
	width: 1.11rem;
	height: 1.11rem;
	background: url('../img/weixin.png') no-repeat;
	background-size: 1.11rem 1.11rem;
}